/* GENERAL PROPERTIES */	
* {	
  box-sizing: border-box;	
}

body {	
  margin: 0;	
  padding: 0;	
}

@font-face {
  font-family: bebas-neue;
  src: url(../fonts/BebasNeue-Bold.ttf);
}

::selection{
  color: #313638;
  background-color: #f0b09a;
}

/* TYPOGRAPHY */	
body, p, a {	
  font-family: Constantia;	
  font-size: 16px;	
}	
a {
  text-decoration: none;
}	
h1, h2 {	
  font-family: bebas-neue;	
}	
nav a, nav p {	
  font-family: bebas-neue;	
}	
h1 {	
  font-size: 80px;	
  margin: 0;	
  color: #fff;	
}	
h2 {	
  font-size: 30px;	
  margin: 0;	
}	

/* TOP NAVIGATION BAR */

.logo {
  float: left;
  width: 50px;
  height: 40px;
  margin-top: 5px;
}
.home {
  float: left;
  width: 40px;
  height: 40px;
}
header {
  position: fixed;
  top: 0;
  z-index: 3;
  box-shadow: 0px 0px 5px black;
}
header,
footer {
  text-align: center;
  margin: 0;
  height: 50px;
  width: 100%;
  background-color: #313638;
}
nav {
  height: 100%;
  float: right;
}
nav a {
  color: white;
  text-decoration: none;
}
.nav-div {
  background-color: #313638;
  height: 100%;
  width: 150px;
  float: left;
  color: white;
}
nav::after {
  content: "";
  display: block;
  clear: both;
}
nav .nav-div:hover {
  background-color: #eee;
  color: #313638;
}
#biomedropdown p {
  font-family: bebas-neue;
  font-size: 16px;
}
.hidden-nav {
  display: none;
}
#selectedbiome {
  background-color: #e4b363;
}

/* RESPONSIVE NAV BAR */
@media only screen and (max-width: 1000px) {
  .nav-div, #biomedropdown {
    display: none;
  }
  .hidden-nav-img {
    height: 90%;
    width: auto;
    padding-top: 5px;
    margin: auto;
  }
  .hidden-nav {
    background-color: #313638;
    height: 100%;
    width: 150px;
    display: inline-block;
  }
  .hidden-nav:hover {
    background-color: #e4b363;
    cursor: pointer;
  }
  .responsive .hidden-nav {
    background-color: #e4b363;
  }
  .responsive .nav-div, .responsive #biomedropdown {
    float: none;
    display: block;
    padding: 2px 0;
    text-align: center;
  }
}

/* DROPDOWN */
.dropbtn {	
  background-color: #313638;	
  color: #fff;	
  border: none;	
  width: 150px;	
}	
.dropbtn:hover {	
  background-color: #eee;	
  color: #313638;	
}	
.dropdown {	
  position: relative;	
  display: inline-block;	
}	
.dropdown-content {	
  display: none;	
  position: absolute;	
  background-color: #ddd;	
  width: 150px;	
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);	
}	
.dropdown-content a {	
  color: black;	
  padding: 12px 16px;	
  text-decoration: none;	
  display: block;	
}	
.dropdown-content a:hover {	
  background-color: #eee;	
}	
.dropdown:hover .dropdown-content {	
  display: block;	
}	
.dropdown:hover .dropbtn {	
  background-color: #eee;	
  color: black;	
}	
.dropbtn {	
  height: 100%;	
}	

/* ARTICLE */	
.biome-img {	
  width: 100%;	
  height: 400px;	
  position: relative;	
  margin-bottom: 20px;
  margin-top: 60px;
  z-index: 0;
}	
.bottom-img, .top-img {	
  width: 100%;	
  height: 400px;	
  position: absolute;	
  left: 0;	
  transition: opacity 1s ease-in-out;	
  z-index: 3;	
  border-radius: 10px;	
}	
.biome-img::after {	
  display: block;	
  clear: both;	
}	
.biome-name {	
  position: absolute;	
  bottom: 8px;	
  left: 20px;	
  z-index: 4;	
  letter-spacing: 20px;	
  text-shadow: 2px 2px 5px black;	
}	
.top-img:hover {	
  opacity: 0;	
}	
.graph-img {	
  float: right;	
  width: 50%;	
  padding: 0 15px;	
}	
section {	
  width: 90%;	
  margin: 10px auto;
  overflow: auto;	
}	
article {	
  display: block;	
  padding: 20px;	
  width: 50%;	
  height: 100%;	
  background-color: #e4b363;	
  border-radius: 10px;	
  float: left;	
}	
article p {	
  text-indent: 30px;	
  text-align: justify;	
}	
article::after {	
  content: "";	
  clear: both;	
}	

/* BIBLIOGRAPHY */	
.bibliography {	
    padding: 25px; 
    padding-top: 10px;
}	
.bibliography h3 {	
    font-size: 40px; 	
    font-family: bebas-neue; 	
    color: #ef6461; 	
    margin: 10px 0;	
}	
.bibliography summary {	
    font-family: bebas-neue;	
    font-size: 25px;	
}	
.bibliography ul {	
    text-decoration: none; 	
    color: black; font-family: constantia; 	
    font-size: 17px;	
}	
.bibliography a {	
    text-decoration: none;	
    color: black;	
}	

/* RESPONSIVENESS */
@media only screen and (max-width: 750px) {
    h1 {
        font-size: 60px;
    }
}
@media only screen and (max-width: 650px) {
    h1 {
        font-size: 48px;
        letter-spacing: 16px;
    }
}
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 40px;
        letter-spacing: 12px;
    }
}
@media only screen and (max-width: 1000px) {
    .graph-img {
        float: none;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    article {
        float: none;
        width: 100%;
        height: auto;
        margin: 2% auto 0 auto;
    }
}
